body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.header {
    background-color: #1C2E5D;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#home-link {
    text-decoration: none;
    color: goldenrod;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header img {
    height: 60px;
    padding-left: 15px;
    float: left;
    gap: 12px;
}

#brand-name {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

ul {
    display: flex;
    padding: 20px;
    margin: 0;
}

ul li {
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    text-align: right;
    padding-left: 30px;
    padding-right: 10px;
}

ul li a{
    margin-left: auto;
    text-decoration: none;
    color: goldenrod;
}

ul li:hover {
    text-decoration: underline;
    color: goldenrod;
    transform: scale(1.1);
    transition: 1s;
}

.search-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
}

label {
    margin: 10px;
    font-weight: bold;
    margin: 10px;
    color: #1C2E5D;
}

input {
    margin: 10px;
    padding-left: 5px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    height: 25px;
    border-radius: 5px;
}

input[type="text"] {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
    
}

input[type="text"]:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

select {
    border: none;
    height: 25px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

select option {
    text-align: center;
}

button[type="button"], input[type="reset"] {
    margin-top: 20px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #1C2E5D;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

button[type="button"]:hover, input[type="reset"]:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: 0.5s;
}

.clear-btn {
    display: flex;
    justify-content: center;
}

.property-listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding: 40px;
    margin-bottom: 200px;
}

.property-listings a {
    text-decoration: none;
    color: black;
}

.property-card {
    background-color: white;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.property-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}

.property-card img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.short-description {
    font-size: large;
}

.location {
    font-size: large;
    font-weight: bold;
}

.price {
    font-size: 25px;
    font-weight: bold;
    color: #1C2E5D;
    margin-top: 30px;
}

footer {
    display: block;
    text-align: center;
    background-color: #1C2E5D;
    color: goldenrod;
    height: 150px;
}

footer p {
    padding-top: 60px;
    font-weight: bold;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    height: 500px;
}

.main-image img {
    border-radius: 15px;
}