/*.header {
    background-color: whitesmoke;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header img {
    height: 60px;
    padding-left: 15px;
    float: left;
    gap: 12px;
}

.brand-name {
    text-decoration: none;
    color: blue;
    font-size: 25px;
    margin: 100px;
    padding-left: 10px;
    font-weight: bold;
    margin: 0;
}

ul {
    display: flex;
    padding: 20px;
    margin: 0;
}

ul li {
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    text-align: right;
    padding-left: 30px;
    padding-right: 10px;
}

ul li a {
    margin-left: auto;
    text-decoration: none;
    color: blue;
}
*/